<div class="toolbar">
  <h1>appengine-jruby sample</h1>
</div>

<ul>
  <li class="arrow">
  <a href="/list_images">Images sample</a>
  </li>
  <li class="arrow">
    <a href="/mail_index">Mail sample</a>
  </li>
  <li class="arrow">
    <a href="/twitter_timeline">URLFetch sample(twitter)</a>
  </li>
  <li class="arrow">
    <a href="/analyze">URLFetch sample(yahoo)</a>
  </li>
  <li class="arrow">
    <a href="/counter_index">TaskQueue sample</a>
  </li>
  <li>
    XMPP sample(Talk something to "honconn-mailsender@appspot.com" by Google Talk)
  </li>
</ul>
