<h1>New Image</h1>

<form method="post" enctype="multipart/form-data" action="/create_image">
  <p>
    <label for="image_title">Title</label><br />
    <input id="image_title" name="image[title]" size="30" type="text" />
  </p>
  <p>
    <label for="image_attachment">Attachment</label><br />

    <input id="image_attachment" name="image[attachment]" size="30" type="file" />
  </p>
  <input type="submit" value="Create">
</form>

<p>
  <a href="/list_images">Back to List</a>
</p>
